@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;700&display=swap');

body {
    font-family: 'Titillium Web', sans-serif;
    background: #f8f8f8;
    display: grid;
}

h1, h2 {
    color: #ff7676;
    text-shadow: -1px 1px #585858;
}

h1 {
    font-size: 50px;
    margin: 0;
}

h2 {
    font-size: 30px;
    text-align: center;
    display: block;
    margin: 0 auto 16px auto;
}

h3 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 68px;
}

.picker-container {
    display: grid;
    column-gap: 5px;
    row-gap: 15px;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, 110px);
    text-align: center;
    margin: 16px auto;
    width: 85%;
    align-items: center;
    justify-content: center;
}


.selection-box {
    font-size: 12px;
    border-radius: 10px;
    box-shadow: 1px 2px 4px 1px lightgrey;
    width: 90px;
    height: 90px;
    padding: 6px;
    cursor: pointer;
    color: white;
}


.selection-box:hover {
    opacity: 0.6;
}

.selection-box-selected:hover {
    opacity: 1.0;
}

.selection-box-selected {
    box-shadow: 1px 2px 3px 3px #ff7676;
}

.genre-selection-box {
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: center;
    background-color: white;
    color: #ff7676;
    text-shadow: -1px 1px 1px #d1d1d1;
}

.artist-selection-box {
    background-repeat: round;
    text-shadow: -1px 1px 1px #434343;
}

/* optimization for desktops */
@media (min-width: 420px) {
    .genre-selection-box {
        background-size: 80px;
    }
    .selection-box {
        width: 130px;
        height: 130px;
        padding: 8px;
    }
    .picker-container {
        grid-template-columns: repeat(auto-fit, 170px);
    }
    h3{
        margin-top: 105px;
    }
}